graft docs
graft src
graft ci
graft tests
graft examples

prune docs/_build
prune examples/.ipynb_checkpoints

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include *.rst
include LICENSE

include tox.ini .travis.yml appveyor.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib *.bak
